USE [TableroCamas]
GO
/****** Object:  StoredProcedure [dbo].[camasServicio_ver]    Script Date: 12/06/2024 09:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jorge Luis Rodríguez
-- Create date: 2024-06-12
-- Description:	Muestra las camas que atiende un servicio
-- =============================================
CREATE PROCEDURE camasServicio_ver_V2
	@idServicio int = null,
	@tareasPendientes int = null,
	@idEstado int = null
AS
BEGIN
	SET NOCOUNT ON;

    if(@tareasPendientes is null)
		begin
			set @tareasPendientes = 0
		end

	if(@idEstado is null)
		begin
			set @idEstado = 0
		end


	IF OBJECT_ID('tempdb.dbo.#camasTemp') IS NOT NULL
		begin
			drop table #camasTemp
		end

	create table #camasTemp (
		id_cama int,
		cama varchar(50),
		id_habitacion int,
		habitacion varchar(50),
		piso varchar(50),
		id_estado int,
		estado varchar(50),
		color varchar(50),
		observaciones varchar(255), -- observaciones del estado de la cama
		id_paciente int,
		nombre_paciente varchar(255),
		apellido_paciente varchar(255),
		dni varchar(50),
		sexo varchar(50),
		fecha_ingreso_institucion datetime,
		fecha_ingreso_cama datetime,
		cobertura varchar(255),
		fantasia varchar(255),
		[plan] varchar(255),
		nro_afiliado varchar(255),
		id_internacion int,
		fecha_alta_medica datetime,
		profesional_alta varchar(255),
		tipo_alta_medica varchar(255),
	
		foto_paciente text,
		procedimientos_no_cumplidos int,
		medicacion_no_programada int,
		medicacion_no_aplicada int,
						
		aislamiento_contacto datetime,
		aislamiento_respiratorio datetime,
		aislamiento_gota datetime,
		aislamiento_neutropenico datetime,
		aislamiento_cd datetime,
		aislamiento_sc datetime,
		cama_en_aislamiento int,

		acompanante varchar(50),
		observaciones_acompanante varchar(255),
		orden int,
		cambioCamaPendiente int,
		alertas int,
		tareasPendientes int,
		altaProbable_fecha datetime,
		altaProbable_tipo varchar(255),
		altaProbable_dniUsuario varchar(50),
		id_reserva int,
		fecha_reserva datetime,
		reserva_motivo varchar(255),
		reservada_por_dni varchar(50),
		reservada_por_nombre varchar(255),
		reserva_fecha_cancelada datetime,
		reserva_cancelada_por_dni varchar(50),
		reserva_cancelada_por_nombre varchar(255),
		reserva_paciente_dni varchar(50),
		reserva_paciente_nombre varchar(255),
		id_motivo_fin_reserva int,
		reserva_id_solicitudCambio int
	)



	-- PENDIENTES
	if(@tareasPendientes = 0)
		begin
			if(@idEstado = 0)
				begin
					-- TODAS LAS CAMAS DE ESTE SERVICIO
					insert into #camasTemp
					select
						cm.id_cama,
						cm.cama,
						cm.id_habitacion,
						cm.habitacion,
						cm.piso,
						cm.id_estado,
						cm.estado,
						e.color,
						cm.observaciones,
						cm.id_paciente,
						cm.nombre_paciente,
						cm.apellido_paciente,
						cm.dni,
						cm.sexo,
						cm.fecha_ingreso_institucion,
						cm.fecha_ingreso_cama,
						cm.cobertura,
						cm.fantasia,
						cm.[plan],
						cm.nro_afiliado,
						cm.id_internacion,
						cm.fecha_alta_medica,
						cm.profesional_alta,
						cm.tipo_alta_medica,									
						cm.foto_paciente,
						cm.procedimientos_no_cumplidos,
						cm.medicacion_no_programada,
						cm.medicacion_no_aplicada,
						NULL, -- aislamiento de contacto
						NULL, -- aislamiento respiratorio
						NULL, -- aislamiento de gota
						NULL, -- aislamiento neutropenico
						NULL, -- aislamiento_cd
						NULL, -- aislamiento_sc
						NULL, -- cama_en_aislamiento
	
						cm.acompanante,
						cm.observaciones_acompanante,
						c.orden,
						cambioCamaPendiente = dbo.fn_CambiosDeCamaPendiente(cm.id_cama, cm.id_internacion),

						-- obtengo la cantidad de alertas que hay para esta cama.
						alertas = dbo.fn_cantidadAlertasCama(@idServicio, cm.id_cama),

						-- obtengo la cantidad de tareas pendientes
						tareasPendientes = dbo.fn_CamaConTareasPendientes(cm.id_cama, @idServicio),

						-- alta probable
						a.fechaAltaProbable,
						a.tipoAltaProbable,
						a.dniUsuarioAltaProbable,

						-- obtengo las reservas
						r.id_reserva,
						r.fecha_reserva,
						r.motivo,
						r.reservada_por_dni,
						r.reservada_por_nombre,
						r.fecha_cancelada,
						r.cancelada_por_dni,
						r.cancelada_por_nombre,
						r.paciente_dni,
						r.paciente_nombre,
						r.id_motivo_fin_reserva,
						r.id_solicitudCambio

					from camasMarkey cm
						left join camasEstados e on cm.id_estado = e.id_estado
						left join camas c on cm.id_cama = c.id_cama
						left join reservas r on cm.id_cama = r.id_cama and r.fecha_cancelada is null
						left join (select id_internacion, fechaAltaProbable,tipoAltaProbable, dniUsuario as dniUsuarioAltaProbable from altaProbable ap left join tipoAltaProbable tap on ap.id_tipoAltaProbable = tap.idTipoAltaProbable) a on cm.id_internacion = a.id_internacion
					where
						cm.id_cama in (select id_cama from camasServicios where id_servicio = @idServicio)
					order by
						c.orden
				end
			else
				begin
					-- MUESTRO SOLO LAS CAMAS QUE TENGAN EL ESTADO SOLICITADO
					insert into #camasTemp
					select
						cm.id_cama,
						cm.cama,
						cm.id_habitacion,
						cm.habitacion,
						cm.piso,
						cm.id_estado,
						cm.estado,
						e.color,
						cm.observaciones,
						cm.id_paciente,
						cm.nombre_paciente,
						cm.apellido_paciente,
						cm.dni,
						cm.sexo,
						cm.fecha_ingreso_institucion,
						cm.fecha_ingreso_cama,
						cm.cobertura,
						cm.fantasia,
						cm.[plan],
						cm.nro_afiliado,
						cm.id_internacion,
						cm.fecha_alta_medica,
						cm.profesional_alta,
						cm.tipo_alta_medica,									
						cm.foto_paciente,
						cm.procedimientos_no_cumplidos,
						cm.medicacion_no_programada,
						cm.medicacion_no_aplicada,
						NULL, -- aislamiento de contacto
						NULL, -- aislamiento respiratorio
						NULL, -- aislamiento de gota
						NULL, -- aislamiento neutropenico
						NULL, -- aislamiento_cd
						NULL, -- aislamiento_sc
						NULL, -- cama_en_aislamiento
	
						cm.acompanante,
						cm.observaciones_acompanante,
						c.orden,
						cambioCamaPendiente = dbo.fn_CambiosDeCamaPendiente(cm.id_cama, cm.id_internacion),

						-- obtengo la cantidad de alertas que hay para esta cama.
						alertas = dbo.fn_cantidadAlertasCama(@idServicio, cm.id_cama),

						-- obtengo la cantidad de tareas pendientes
						tareasPendientes = dbo.fn_CamaConTareasPendientes(cm.id_cama, @idServicio),

						-- alta probable
						a.fechaAltaProbable,
						a.tipoAltaProbable,
						a.dniUsuarioAltaProbable,

						-- obtengo las reservas
						r.id_reserva,
						r.fecha_reserva,
						r.motivo,
						r.reservada_por_dni,
						r.reservada_por_nombre,
						r.fecha_cancelada,
						r.cancelada_por_dni,
						r.cancelada_por_nombre,
						r.paciente_dni,
						r.paciente_nombre,
						r.id_motivo_fin_reserva,
						r.id_solicitudCambio

					from camasMarkey cm
						left join camasEstados e on cm.id_estado = e.id_estado
						left join camas c on cm.id_cama = c.id_cama
						left join reservas r on cm.id_cama = r.id_cama and r.fecha_cancelada is null
						left join (select id_internacion, fechaAltaProbable,tipoAltaProbable, dniUsuario as dniUsuarioAltaProbable from altaProbable ap left join tipoAltaProbable tap on ap.id_tipoAltaProbable = tap.idTipoAltaProbable) a on cm.id_internacion = a.id_internacion
					where
						cm.id_cama in (select id_cama from camasServicios where id_servicio = @idServicio)
						and cm.id_estado = @idEstado
					order by
						c.orden
				end
		end
	else
		begin
			-- MUESTRO SOLO LAS CAMAS QUE TIENEN TAREAS PENDIENTES PARA EL SERVICIO.
			if(@idEstado = 0)
				begin
					-- MUESTRO TODAS LAS CAMAS, SIN IMPORTAR EL ESTADO
					insert into #camasTemp
					select
						cm.id_cama,
						cm.cama,
						cm.id_habitacion,
						cm.habitacion,
						cm.piso,
						cm.id_estado,
						cm.estado,
						e.color,
						cm.observaciones,
						cm.id_paciente,
						cm.nombre_paciente,
						cm.apellido_paciente,
						cm.dni,
						cm.sexo,
						cm.fecha_ingreso_institucion,
						cm.fecha_ingreso_cama,
						cm.cobertura,
						cm.fantasia,
						cm.[plan],
						cm.nro_afiliado,
						cm.id_internacion,
						cm.fecha_alta_medica,
						cm.profesional_alta,
						cm.tipo_alta_medica,									
						cm.foto_paciente,
						cm.procedimientos_no_cumplidos,
						cm.medicacion_no_programada,
						cm.medicacion_no_aplicada,
						NULL, -- aislamiento de contacto
						NULL, -- aislamiento respiratorio
						NULL, -- aislamiento de gota
						NULL, -- aislamiento neutropenico
						NULL, -- aislamiento_cd
						NULL, -- aislamiento_sc
						NULL, -- cama_en_aislamiento
	
						cm.acompanante,
						cm.observaciones_acompanante,
						c.orden,
						cambioCamaPendiente = dbo.fn_CambiosDeCamaPendiente(cm.id_cama, cm.id_internacion),

						-- obtengo la cantidad de alertas que hay para esta cama.
						alertas = dbo.fn_cantidadAlertasCama(@idServicio, cm.id_cama),

						-- obtengo la cantidad de tareas pendientes
						tareasPendientes = dbo.fn_CamaConTareasPendientes(cm.id_cama, @idServicio),

						-- alta probable
						a.fechaAltaProbable,
						a.tipoAltaProbable,
						a.dniUsuarioAltaProbable,

						-- obtengo las reservas
						r.id_reserva,
						r.fecha_reserva,
						r.motivo,
						r.reservada_por_dni,
						r.reservada_por_nombre,
						r.fecha_cancelada,
						r.cancelada_por_dni,
						r.cancelada_por_nombre,
						r.paciente_dni,
						r.paciente_nombre,
						r.id_motivo_fin_reserva,
						r.id_solicitudCambio

					from camasMarkey cm
						left join camasEstados e on cm.id_estado = e.id_estado
						left join camas c on cm.id_cama = c.id_cama
						left join reservas r on cm.id_cama = r.id_cama and r.fecha_cancelada is null
						left join (select id_internacion, fechaAltaProbable,tipoAltaProbable, dniUsuario as dniUsuarioAltaProbable from altaProbable ap left join tipoAltaProbable tap on ap.id_tipoAltaProbable = tap.idTipoAltaProbable) a on cm.id_internacion = a.id_internacion
					where
						cm.id_cama in (select id_cama from camasServicios where id_servicio = @idServicio)
						and cm.id_cama in (select id_cama from tareas where id_servicio = @idServicio and (finalizada is null and cancelada is null))
					order by
						c.orden
				end
			else
				begin
					-- MUESTRO SOLO LAS CAMAS QUE TENGAN EL ESTADO SOLICITADO
					insert into #camasTemp
					select
						cm.id_cama,
						cm.cama,
						cm.id_habitacion,
						cm.habitacion,
						cm.piso,
						cm.id_estado,
						cm.estado,
						e.color,
						cm.observaciones,
						cm.id_paciente,
						cm.nombre_paciente,
						cm.apellido_paciente,
						cm.dni,
						cm.sexo,
						cm.fecha_ingreso_institucion,
						cm.fecha_ingreso_cama,
						cm.cobertura,
						cm.fantasia,
						cm.[plan],
						cm.nro_afiliado,
						cm.id_internacion,
						cm.fecha_alta_medica,
						cm.profesional_alta,
						cm.tipo_alta_medica,									
						cm.foto_paciente,
						cm.procedimientos_no_cumplidos,
						cm.medicacion_no_programada,
						cm.medicacion_no_aplicada,
						NULL, -- aislamiento de contacto
						NULL, -- aislamiento respiratorio
						NULL, -- aislamiento de gota
						NULL, -- aislamiento neutropenico
						NULL, -- aislamiento_cd
						NULL, -- aislamiento_sc
						NULL, -- cama_en_aislamiento
	
						cm.acompanante,
						cm.observaciones_acompanante,
						c.orden,
						cambioCamaPendiente = dbo.fn_CambiosDeCamaPendiente(cm.id_cama, cm.id_internacion),

						-- obtengo la cantidad de alertas que hay para esta cama.
						alertas = dbo.fn_cantidadAlertasCama(@idServicio, cm.id_cama),

						-- obtengo la cantidad de tareas pendientes
						tareasPendientes = dbo.fn_CamaConTareasPendientes(cm.id_cama, @idServicio),

						-- alta probable
						a.fechaAltaProbable,
						a.tipoAltaProbable,
						a.dniUsuarioAltaProbable,

						-- obtengo las reservas
						r.id_reserva,
						r.fecha_reserva,
						r.motivo,
						r.reservada_por_dni,
						r.reservada_por_nombre,
						r.fecha_cancelada,
						r.cancelada_por_dni,
						r.cancelada_por_nombre,
						r.paciente_dni,
						r.paciente_nombre,
						r.id_motivo_fin_reserva,
						r.id_solicitudCambio

					from camasMarkey cm
						left join camasEstados e on cm.id_estado = e.id_estado
						left join camas c on cm.id_cama = c.id_cama
						left join reservas r on cm.id_cama = r.id_cama and r.fecha_cancelada is null
						left join (select id_internacion, fechaAltaProbable,tipoAltaProbable, dniUsuario as dniUsuarioAltaProbable from altaProbable ap left join tipoAltaProbable tap on ap.id_tipoAltaProbable = tap.idTipoAltaProbable) a on cm.id_internacion = a.id_internacion
					where
						cm.id_cama in (select id_cama from camasServicios where id_servicio = @idServicio)
						and cm.id_cama in (select id_cama from tareas where id_servicio = @idServicio and (finalizada is null and cancelada is null))
						and cm.id_estado = @idEstado
					order by
						c.orden
				end
		end


----------------------------
-- Cargo los aislamientos --
----------------------------
declare @id_cama int = null
declare @dni varchar(50) = null

declare @AC datetime = null
declare @AR datetime = null
declare @AG datetime = null
declare @AN datetime = null
declare @CD datetime = null
declare @SC datetime = null

DECLARE CursorCamas CURSOR FOR
	select 
		id_cama,
		dni
	from #camasTemp
OPEN CursorCamas
FETCH NEXT FROM CursorCamas INTO @id_cama, @dni
WHILE @@fetch_status = 0
BEGIN
	set @AC = (select desde from aislamientosPacientes where dni = @dni and id_aislamiento = 1 and GETDATE() between desde and  isnull(hasta,'2099-09-08') )
	set @AR = (select desde from aislamientosPacientes where dni = @dni and id_aislamiento = 2 and GETDATE() between desde and  isnull(hasta,'2099-09-08') )
	set @AG = (select desde from aislamientosPacientes where dni = @dni and id_aislamiento = 4 and GETDATE() between desde and  isnull(hasta,'2099-09-08') )
	set @AN = (select desde from aislamientosPacientes where dni = @dni and id_aislamiento = 5 and GETDATE() between desde and  isnull(hasta,'2099-09-08') )
	set @CD = (select desde from aislamientosPacientes where dni = @dni and id_aislamiento = 6 and GETDATE() between desde and  isnull(hasta,'2099-09-08') )
	set @SC = (select desde from aislamientosPacientes where dni = @dni and id_aislamiento = 7 and GETDATE() between desde and  isnull(hasta,'2099-09-08') )
	
	update #camasTemp set 
		aislamiento_contacto = @AC,
		aislamiento_respiratorio = @AR,
		aislamiento_gota = @AG,
		aislamiento_neutropenico = @AN,
		aislamiento_cd = @CD,
		aislamiento_sc = @SC
	where 
		id_cama = @id_cama

	FETCH NEXT FROM CursorCamas INTO @id_cama, @dni
END


CLOSE CursorCamas
DEALLOCATE CursorCamas
--------------------------

select * from #camasTemp

END
