USE [TableroCamas]
GO
/****** Object:  StoredProcedure [dbo].[tc_CamasCambio_RealizarCambio]    Script Date: 16/11/2023 10:33:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jorge Luis Rodríguez
-- Create date: 2023-11-16
-- Description:	Realiza el cambio de cama de un paciente de una cama de origen a una cama de destino
/*
PROCESO DE CAMBIO DE CAMA
Este proceso lo ejecutará el enfermero al cambiar al paciente a la cama asignada por Admisión.
PASO 1) Realizo el cambio de cama en Markey. Si este proceso devuelve un statuscode 200 continuo, sino devuelvo error.

PASO 2) Actualizo la solicitud de cambio de cama.(estado, realizado)

PASO 3) Actualizo la reserva de la cama destino.

PASO 4) Actualizo el estado de la cama que se libera, según corresponda
	- limpieza: al hacerlo también envio una notificación a limpieza
	- reparación: al hacerlo también envío una notificación a mantenimiento (verificar si es necesario)
	- disponible

PASO 5) Envio alerta a la cama destino --> para Enfermería

PASO 6) Envío notificación a Admisión
----------------
Si este procedimiento retorna 1, significa que el cambio de cama se realizó bien.
*/
-- =============================================
CREATE PROCEDURE camasCambio_RealizarCambio
	@id_solicitudCambio int = null,
	@dni int = null,
	@nombre_usuario varchar(255) = null,
	@mensaje varchar(255) OUTPUT
AS
BEGIN
	SET NOCOUNT ON;

    if(@id_solicitudCambio is null) or (@dni is null) or (@nombre_usuario is null)
		begin
			select @mensaje = 'Faltan parámetros obligatorios'
			return 0
		end
	else
		begin
			-- verifico que el pedido de cambio existe y está autorizado
			if(not exists(select * from camasCambios where id_solicitudCambio = @id_solicitudCambio and id_estado_solicitud = 2))
				begin
					select @mensaje = 'No puede cambiar de cama al paciente, si no existe una solicitud de cambio que haya sido autorizada por Admisión.'
					return 0
				end
			else
				begin
					declare 
						@id_internacion int = null,
						@id_paciente int = null,
						@fec datetime = null,
						@id_cama_origen int = null,
						@id_hab_origen int = null,
						@id_cama_destino int = null,
						@cama_origen varchar(50) = null,
						@cama_destino varchar(50) = null,
						--@nombre_paciente varchar(255) = null,
						
						@titulo varchar(255) = null,
						@texto varchar(255) = null,
						@cama_virtual int = null,
						@men varchar(255) = null

					--set @estado_cambio = 0
					set @fec = GETDATE()
					select 
						@id_internacion = id_internacion, 
						@id_cama_origen = id_cama_origen, 
						@id_cama_destino = id_cama_destino 
					from CamasCambios 
					where 
						id_solicitudCambio = @id_solicitudCambio

					select 
						@cama_origen = cama, 
						@id_hab_origen = id_habitacion, 
						@cama_virtual = tipo
					from camas 
					where 
						id_cama = @id_cama_origen

					-- PASO 1) Realizo el cambio de cama en Markey. Si el servicio web devuelve un statuscode 200 continuo, sino devuelvo error.
					declare @statuscode int
					exec @statuscode = Markey_CambioCama_RegistrarCambio @id_cama_origen, @id_cama_destino, @id_internacion, @id_paciente, @dni
					if(@statuscode = 200)
						begin
							-- PASO 2) Actualizo la solicitud de cambio de cama.(estado, realizado)
							update CamasCambios set
								id_estado_solicitud = 5, -- realizado
								realizado_fecha = @fec,
								realizado_por_dni = @dni,
								realizado_por_nombre = @nombre_usuario
							where id_solicitudCambio = @id_solicitudCambio

							-- PASO 3) Cancelo la reserva de la cama destino.
							update reservas set
								fecha_cancelada = @fec,
								cancelada_por_dni = @dni,
								cancelada_por_nombre = @nombre_usuario,
								id_motivo_fin_reserva = 2 -- Cambio de cama
							where
								id_solicitudCambio = @id_solicitudCambio

							/*
							PASO 4) Actualizo el estado de la cama que se libera, según corresponda
								- limpieza: al hacerlo también envio una notificación a limpieza
								- reparación: al hacerlo también envío una notificación a mantenimiento (verificar si es necesario)
								- disponible
							*/

							-- si la cama es virtual la pongo disponible, sino la pongo en limpieza.
							if(@cama_virtual = 'V')
								begin
									exec Markey_camasCambiarEstado 	@id_cama_origen, 1,'', @dni -- 1=Disponible
									-- actualizo la tabla camas
									update camas set estado = 1 where id_cama = @id_cama_origen
								end
							else
								begin
									exec Markey_camasCambiarEstado 	@id_cama_origen, 4,'CAMA EN LIMPIEZA', @dni -- 4=Limpieza
									update camas set estado = 4 where id_cama = @id_cama_origen

									-- enviar notificación push a limpieza avisando que tiene una cama para limpiar.
								end

							-- PASO 5) Actualizo la cama destino en la tabla camas
							update camas set estado = 2 where id_cama = @id_cama_destino -- 2=Ocupada

							-- PASO 6) Envio alerta a la cama destino --> para Enfermería
							insert into alertas (id_tipo_alerta,id_cama,fecha,visible,id_paciente,id_internacion)
										values(1,@id_cama_destino,@fec,1,@id_paciente,@id_internacion)

							-- PASO 7) Envío notificación a Admisión							

							-- PASO 8) Dejo registrado en la Bitácora de la cama los eventos ocurrido en cama de origen y destino.
							--cama origen: cambio de cama - salida
							exec BitacoraCama_registrar @fec, @id_cama_origen, 3, @dni, @nombre_usuario, NULL, NULL, @id_internacion, NULL
							--cama origen: creación de tarea de limpieza
							if(@cama_virtual = 'F')
								begin
									exec BitacoraCama_registrar @fec, @id_cama_origen, 16, @dni, @nombre_usuario, NULL, NULL, @id_internacion, NULL
								end
							--cama destino: cambio de cama - ingreso
							exec BitacoraCama_registrar @fec, @id_cama_origen, 4, @dni, @nombre_usuario, NULL, NULL, @id_internacion, NULL
						end
					else
						begin
							select @mensaje = 'No fue posible realizar el cambio de cama de este paciente'
							return @statuscode
						end
				end
		end
END
